# {{ project_name }}

Purpose: {{ project_purpose }}
Language: {{ language_name }} {{ language_version }}
Framework: {{ framework_name }} {{ framework_version }}
Build Tool: {{ build_tool }}
Architecture: {{ architecture_style }}
DDD: {{ domain_driven }}
Event-Driven: {{ event_driven }}
Container: {{ container }}
Orchestrator: {{ orchestrator }}
Database: {{ database_name }}
Cache: {{ cache_name }}
Coverage Line: {{ coverage_line }}
Coverage Branch: {{ coverage_branch }}
