## Tech Stack

| Component | Technology |
|-----------|------------|
| Language | {{ language_name }} {{ language_version }} |
| Framework | {{ framework_name }} {{ framework_version }} |
| Build Tool | {{ build_tool }} |
| Container | {{ container }} |
{%- if database_name != "none" %}
| Database | {{ database_name }} |
{%- endif %}
{%- if cache_name != "none" %}
| Cache | {{ cache_name }} |
{%- endif %}
{%- if orchestrator != "none" %}
| Orchestrator | {{ orchestrator }} |
{%- endif %}
{%- if observability != "none" %}
| Observability | {{ observability }} |
{%- endif %}
